//Fuente Principal
$fuente_principal: 'IBM Plex Sans',sans-serif;

//Colores
$verdeAzulado: #4CB8B3;
$verdeAzuladoOscuro: #3c9e99;
$rosa: #F53756;
$amarillo: #FEF46D;
$amarilloOscuro: #fff12e;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$gris: #c0c0c0;
$header-BackGround-Color: #1a253f;
$header-font-color: #a4abc5;
$header-h-color: #b6c2e4;
$size-letter: 1.4rem;
$azul: #4d79f6;
// Tamaños de pantallas 

$telefono: 555px;
$tablet: 815px;
$desktop: 992px;
$desktopXL: 1200px;


